.btn btn-link px-3 me-2 {
  background-color: #ffffff;
}

html body{
  width: 100%;
  height: 100%;
  background:linear-gradient(#8fe3f1, #bb18fd);
}
.Card-container{
  display:flex;
  justify-content: center;
  flex-direction: column;
}


.card{
  background-color: #ffffff;
  width: 1250px;
  height: 500px;
  padding: 20px;
    border-radius: 10px; 
    top: px; 
  left: 300px;
  margin-bottom: 80px;
  margin-top: 100px;
  display:flex
}


.card-title-banner {
  font-size: 70px;
  font-weight: bold;
  color: #8fe3f1;
  margin-left: 80px; 
  margin-top: 100px;
  text-align: justify;
}
.card-text {
  font-size: 15px;
  color: #626060;
  margin-right: 550px;
  margin-left: 80px; 
  margin-top: 50px;
  text-align: justify;
}

.card.mb-3 {
  margin-bottom: 10px;
  width: 600px; 
  height: 360px; 
}
.card-title3 {
  font-size: 40px;
  font-weight: bold;
  color: #8fe3f1;
  margin-left: 0px; 
  margin-top: 0px;
  text-align: left;
}
.card-text3 {
  font-size: 17px;
  color: #626060;
  margin-right: 40px;
  margin-left: 0px; 
  margin-top: 15px;
  text-align: justify;
}

.card.mb-4 {
  margin-left: 650px;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 600px; 
  height: 360px; 
}

.img-fluidcard2 {
  margin-left: 370px;
  width: 200px;  
  height: auto;
}
.card-title4 {
  font-size: 40px;
  font-weight: bold;
  color: #8fe3f1;
  text-align: left;
}

