
.formurario{
    margin: 50px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    
   
}
.seccion-sugerencia-text{
    text-align: center;
    color: white;
}

.input{
    padding-top: 10px;

}

.form{background-color:none;
    flex-direction: column;
    display: flex;
    align-items: center;
    border-radius: 10px;
    
}



