.Creatividad {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinea el contenido en el centro verticalmente */
    margin-top: 50px;
  }
  
  .main-content {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en líneas cuando no haya suficiente espacio */
    justify-content: space-between; /* Distribuye los elementos en los extremos */
    align-items: flex-start; /* Alinea los elementos en la parte superior */
    margin: 20px;
  }
  
  .Creatividad p {
    margin: 20px;
    text-align: justify; /* Alinea el texto a la izquierda */
  }
  
  .cards-container {
    display: flex;
    flex-direction: column; /* Apila las "card" verticalmente */
    width: 100%; /* Ocupa todo el ancho en pantallas pequeñas */
  }
  
  .card {
    display: flex;
    margin-bottom: 20px; /* Agrega espacio entre las "card" */
    width: 100%; /* Ocupa todo el ancho en pantallas pequeñas */
  }
  
  .card-content {
    display: flex;
    align-items: center; /* Alinea los elementos verticalmente al centro */
  }
  
  .avatar {
    width: 100px;
    height: 100px;
    margin-left: 20px; /* Agrega espacio entre la imagen y el contenido de la card */
  }
  
  .card-text {
    display: flex;
    flex-direction: column; /* Apila el título y el párrafo verticalmente */
    width: 100%; /* Ocupa todo el ancho disponible */
  }
  
  .card h1 {
    margin: 0; /* Elimina el margen superior e inferior del título */
  }
  
  .sidebar {
    display: flex;
    width: 100%; /* Ocupa todo el ancho en pantallas pequeñas */
    text-align: justify;
    /*margin-top: 20px;  Agrega espacio entre las cards y el sidebar en pantallas pequeñas */
    margin :20px
  }
  
  @media (min-width: 1281px) {
    /* En pantallas más grandes (por ejemplo, 768px o más), los elementos se colocan uno al lado del otro */
    .Creatividad p {
        text-align: justify;
        margin: 60px;
        
    }
    .main-content {
      flex-wrap: nowrap; /* Evita que los elementos se envuelvan en líneas */
      margin: 40px ;
    }
    .cards-container {
      width: calc(60% - 20px); /* Ocupa el 60% del ancho con espacio entre elementos */
    }
    .card {
      width: 80%; /* Ocupa todo el ancho en pantallas pequeñas */
      height: 200px;
      justify-content: space-between;
    }
    .avatar {
        width: 150px;
        height: 150px;
        margin-left: 20px;
        
      }
    .sidebar {
      width: calc(40% - 20px); /* Ocupa el 40% del ancho con espacio entre elementos */
      margin-top: 0; /* Elimina el espacio superior en pantallas más grandes */
    }
  }
  