/* Prefijo único para el componente Calendar */
.calendar-container {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
}

.calendar-container .calendar {
    margin: 20px;
}

.calendar-container table {
    border-collapse: collapse;
}

.calendar-container .calendar td {
    width: 2rem;
    height: 10%;
    border: 1px solid #000000;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.167);
}

.calendar-container .calendar td tr{
    width: 2rem;
    height: 2rem;
}


.calendar-container .calendar tr {
    background-color: rgba(255, 255, 255, 0.541);
    border: 1px solid #000000;

}

.boton-perfil button {
    text-align: center;
    align-items: center;
    font-size: 80px;
    font-weight: bold;
    white-space: nowrap; 
    max-width: 45%;
    display:flex;
    border: 0;
    border-radius: 8px;
    display: grid;
    font-size: 15px;
    padding: 4px;
    cursor: pointer;
    width: 100%;
    transition: .3s;
}

.boton-perfil button a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
} 

.boton-perfil button :hover{
    background-color: rgb(226, 236, 243);
}

.calendar-container .legend {
    margin-top: 4rem;
    border: 1px solid #000000;
    background-color: rgba(201, 250, 255, 0.721);
    padding: 4%;
}

.calendar-container .legend td {
    width: 1%;
    background-color: aliceblue;
    font-family: 'Raleway', sans-serif;
}

/* Prefijo único para el componente DayCell */
.calendar-container .calendar .day-cell {
    width: 40px;
    height: 30px;
    border: 1px solid #000000;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.167);
}

.imagen-kyu img{
height: 2%;
} 
