/* Prefijo único para el componente Calendar */
.calendar-container {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calendar-container .calendar {
    margin: 20px;
}

.calendar-container table {
    border-collapse: collapse;
}

.calendar-container .calendar td {
    width: 40px;
    height: 30px;
    border: 1px solid #000000;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.167);
}

.calendar-container .calendar tr {
    background-color: rgba(255, 255, 255, 0.541);
    border: 1px solid #000000;
}

.calendar-container button {
    background-color: rgba(201, 250, 255, 0.721);
    height: 6%;
    width: 9%;
    border-radius: 20%;
    font-size: large;
    font-weight: bold;
}

.calendar-container button a {
    color: black;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

.calendar-container .legend {
    width: 50%;
    height: 25%;
    background-color: rgba(201, 250, 255, 0.721);
    padding: 2%;
    border-radius: 10%;
}

.calendar-container .legend td {
    width: 1%;
    background-color: aliceblue;
    text-align: justify;
    font-family: 'Raleway', sans-serif;
}

/* Prefijo único para el componente DayCell */
.calendar-container .calendar .day-cell {
    width: 40px;
    height: 30px;
    border: 1px solid #000000;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.167);
}

.calendar-container .calendar .day-cell:hover {
    background-color: rgba(201, 250, 255, 0.721);
}
