.containers-registro-docente {
  width: 50%;
  margin: auto;
}

.formulario-registro-docente {
  background:linear-gradient(#8fe3f1, #bb18fd);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

.usuario-registro-docente {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 8px;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-container-registro-docente {
  text-align: center;
}

.btn-registro-docente {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-registro-docente:hover {
  background-color: #45a049;
}
