/* Registro.css */
.container {
  margin-top: 0px;
  padding: 100px;
  
}

.content-container {
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-and-images-container {
  padding: 50px;
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en pantallas pequeñas */
}

.left-container,
.right-container {
  flex: 1; /* Ocupa el 50% del espacio disponible en la pantalla */
  text-align: center;
}

.left-image,
.right-image {
  max-width: 100%; /* Imágenes responsivas */
  height: auto;
}

.text-container {
  flex: 1; /* Ocupa el 50% del espacio disponible en la pantalla */
  padding: 20px;
}

h1 {
  font-size: 1.5rem; /* Tamaño del encabezado ajustado para dispositivos pequeños */
}

.buttons-container {
  display: flex;
  flex-direction: column; /* Coloca los botones uno encima del otro en pantallas pequeñas */
  margin-top: 20px;
}

.btn {
  width: 100%; /* Botones ocupan todo el ancho del contenedor */
  margin-bottom: 10px;
}
