.container-herra{
    margin-top: 10%;
    width: 100%;
}
.container-herra h1 {
    color: #000000;
    font-weight: bolder;
    margin-left: 5%;
}

.herram-card {
    border: 1px solid #000000;
    margin: 20px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 2%;
    border-radius: 5px;
    background-color: rgba(255, 253, 253, 0.632);
}

.container-herra  p {
    color: #000000;
    font-size: large;
    font-weight: bolder;
}

.herram-logo img{
    margin-left: 0%;
    border: #000000;
    max-width: 20%;
    max-height: 3rem;
    margin-left: 0%;
    border-radius: 10%;
}

.container-herra a {
    display: inline-block;
    text-align: center;
    width: 10%;
    padding: 10px;
    background-image: linear-gradient(150deg,#9500ff,#09f,#00ddff);
    border-radius: 8px;
    color: white;
    display: grid;
    font-size: 15px;
    padding: 4px;
    cursor: pointer;
    transition: .3s;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bolder;
}

.container-herra  a:hover {
    background-color: #4b0072;
}